{% extends 'landing/base.html' %}
{% load static %}
{% block content %}

<section class="page-banner-section pt-75 pb-75 img-bg" style="background-image: url(&#39;{% static 'landing/assets/img/bg/common-bg.svg' %}&#39;)">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="banner-content">
                     <h2 class="text-white">{{ title }}</h2>
                     <div class="page-breadcrumb">
                        <nav aria-label="breadcrumb">
                             <ol class="breadcrumb">
                                <li class="breadcrumb-item" aria-current="page"><a href="https://www.webalive.com.br">Início</a></li>
                                 <li class="breadcrumb-item" aria-current="page"><a href="{% url 'landing-blog' %}">Blog</a></li>
                                <li class="breadcrumb-item active" aria-current="page">{{ title }}</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
    
    
<section class="blog-section pt-130">
    <div class="container">
        <div class="row">
        <div class="col-xl-8 col-lg-7">
            <div class="left-side-wrapper mb-60">
    <div class="single-blog blog-style-2 mb-60 wow fadeInUp" data-wow-delay=".2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
    <div class="blog-img blog-img-2">
    <img src="https://www.webalive.com.br/media/{{ post.imagem.imagem }}" alt="">
    </div>
    <div class="blog-content">
    <h4>{{ title }}</h4>
    <p class="mb-40">{{ post.texto1|linebreaks }}</p>
    <p class="quote mb-40">{{ post.textoDestaque|linebreaks }}</p>
    <p>{{ post.textoConclusao|linebreaks }}</p>
    
    </div>
    </div>
    <div class="related-post mb-30">
    <h4 class="mb-40">Posts antenriores</h4>
    <div class="row">
    <div class="col-md-6 col-lg-12 col-xl-6">
    <div class="single-blog mb-40 wow fadeInUp" data-wow-delay=".6s" style="visibility: hidden; animation-delay: 0.6s; animation-name: none;">
    <div class="blog-img">
    <a href="https://demo.graygrids.com/themes/space/blog-single.html"><img src="./Single Blog _ Space_files/blog-3.jpg" alt=""></a>
     <span class="date-meta">15 June, 2025</span>
    </div>
    <div class="blog-content">
    <h5 class="mb-15"><a href="https://demo.graygrids.com/themes/space/blog-single.html">Colorful Easter Eggs</a></h5>
    <p>Lorem ipsum dolor sit amet, adipscing elitr, sed diam nonumy eirmod
    tempor ividunt dolore
    magna.</p>
    <a href="https://demo.graygrids.com/themes/space/blog-single.html" class="read-more-btn">Read More <i class="lni lni-arrow-right"></i></a>
    </div>
    </div>
    </div>
    <div class="col-md-6 col-lg-12 col-xl-6">
    <div class="single-blog mb-40 wow fadeInUp" data-wow-delay=".6s" style="visibility: hidden; animation-delay: 0.6s; animation-name: none;">
    <div class="blog-img">
    <a href="https://demo.graygrids.com/themes/space/blog-single.html"><img src="./Single Blog _ Space_files/blog-2.jpg" alt=""></a>
    <span class="date-meta">15 June, 2025</span>
    </div>
    <div class="blog-content">
    <h5 class="mb-15"><a href="https://demo.graygrids.com/themes/space/blog-single.html">Plan for what is difficult</a></h5>
    <p>Lorem ipsum dolor sit amet, adipscing elitr, sed diam nonumy eirmod
    tempor ividunt dolore
    magna.</p>
    <a href="https://demo.graygrids.com/themes/space/blog-single.html" class="read-more-btn">Read More <i class="lni lni-arrow-right"></i></a>
    </div>
    </div>
    </div>
    </div>
    </div>
    <div class="comment-form-wrapper ms-0">
    <h2 class="mb-40">Leave a comment</h2>
    <form action="https://demo.graygrids.com/themes/space/blog-single.html#" class="comment-form">
    <div class="row">
    <div class="col-md-6 col-lg-12 col-xl-6">
    <input type="text" name="name" id="name" placeholder="Name" required="">
    </div>
    <div class="col-md-6 col-lg-12 col-xl-6">
    <input type="email" name="email" id="email" placeholder="Email" required="">
    </div>
    </div>
    <div class="row">
    <div class="col-12">
    <textarea name="message" id="message" placeholder="Type Comment" rows="5"></textarea>
    </div>
    </div>
    <div class="row">
    <div class="col-12">
    <div class="button text-center">
    <button type="submit" class="theme-btn">Submit Now</button>
    </div>
    </div>
    </div>
    </form>
    </div>
    </div>
    </div>
    <div class="col-xl-4 col-lg-5">
    <div class="sidebar-wrapper mb-60">
    <div class="sidebar-box search-form-box mb-30">
    <form action="https://demo.graygrids.com/themes/space/blog-single.html#" class="search-form">
    <input type="text" placeholder="Search...">
    <button type="submit"><i class="lni lni-search-alt"></i></button>
    </form>
    </div>
    <div class="sidebar-box recent-blog-box mb-30">
    <h4>Recent Blog</h4>
    <div class="recent-blog-items">
    <div class="recent-blog mb-30">
    <div class="recent-blog-img">
    <img src="./Single Blog _ Space_files/recent-blog-1.png" alt="">
    </div>
    <div class="recent-blog-content">
    <h5><a href="https://demo.graygrids.com/themes/space/blog-single.html">Sed utper spiciunde iste natus erro.</a></h5>
    <span class="date">22 Julay, 2020</span>
    </div>
    </div>
    <div class="recent-blog mb-30">
    <div class="recent-blog-img">
    <img src="./Single Blog _ Space_files/recent-blog-2.png" alt="">
    </div>
    <div class="recent-blog-content">
    <h5><a href="https://demo.graygrids.com/themes/space/blog-single.html">Sed utper spiciunde iste natus erro.</a></h5>
    <span class="date">22 Julay, 2020</span>
    </div>
    </div>
    <div class="recent-blog">
    <div class="recent-blog-img">
    <img src="./Single Blog _ Space_files/recent-blog-3.png" alt="">
    </div>
    <div class="recent-blog-content">
    <h5><a href="https://demo.graygrids.com/themes/space/blog-single.html">Sed utper spiciunde iste natus erro.</a></h5>
    <span class="date">22 Julay, 2020</span>
    </div>
    </div>
    </div>
    </div>
    <div class="sidebar-box catagories-box mb-30">
    <h4>Catagories</h4>
    <ul>
    <li>
    <a href="javascript:void(0)">
    <span>Web Design</span>
    <span class="ms-2">(20)</span>
    </a>
    </li>
    <li>
    <a href="javascript:void(0)">
    <span>Branding</span>
    <span class="ms-2">(09)</span>
    </a>
    </li>
    <li>
    <a href="javascript:void(0)">
    <span>Web Development</span>
    <span class="ms-2">(23)</span>
    </a>
    </li>
    <li>
    <a href="javascript:void(0)">
    <span>Graphic Design</span>
    <span class="ms-2">(124)</span>
    </a>
    </li>
    <li>
    <a href="javascript:void(0)">
    <span>Marketing</span>
    <span class="ms-2">(05)</span>
    </a>
    </li>
    <li>
    <a href="javascript:void(0)">
    <span>Wireframing</span>
    <span class="ms-2">(02)</span>
    </a>
    </li>
    </ul>
    </div>
    <div class="sidebar-box tags-box mb-30">
    <h4>Popular Tags</h4>
    <ul>
    <li><a href="javascript:void(0)">Web Design</a></li>
    <li><a href="javascript:void(0)">Wireframing</a></li>
    <li><a href="javascript:void(0)">Graphic Design</a></li>
    <li><a href="javascript:void(0)">Branding</a></li>
    <li><a href="javascript:void(0)">Analysis</a></li>
    <li><a href="javascript:void(0)">Web Development</a></li>
    </ul>
    </div>
    <div class="sidebar-box mb-30">
    <h4>Follow On</h4>
    <div class="footer-social-links">
    <ul class="d-flex justify-content-start">
    <li><a href="javascript:void(0)"><i class="lni lni-facebook-filled"></i></a></li>
    <li><a href="javascript:void(0)"><i class="lni lni-twitter-filled"></i></a></li>
    <li><a href="javascript:void(0)"><i class="lni lni-linkedin-original"></i></a></li>
    <li><a href="javascript:void(0)"><i class="lni lni-instagram-filled"></i></a></li>
    </ul>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </section>
    
    
    <section class="client-logo-section pt-70 pb-130">
    <div class="container">
    <div class="client-logo-wrapper">
    <div class="tns-outer" id="tns1-ow"><div class="tns-liveregion tns-visually-hidden" aria-live="polite" aria-atomic="true">slide <span class="current">10 to 13</span>  of 5</div><div id="tns1-mw" class="tns-ovh"><div class="tns-inner" id="tns1-iw"><div class="client-logo-carousel d-flex align-items-center justify-content-between  tns-slider tns-carousel tns-subpixel tns-calc tns-horizontal" id="tns1" style="transform: translate3d(-42.8571%, 0px, 0px);"><div class="client-logo tns-item tns-slide-cloned" aria-hidden="true" tabindex="-1">
    <img src="./Single Blog _ Space_files/lineicons-logo.svg" alt="">
    </div><div class="client-logo tns-item tns-slide-cloned" aria-hidden="true" tabindex="-1">
    <img src="./Single Blog _ Space_files/graygrids-logo.svg" alt="">
    </div><div class="client-logo tns-item tns-slide-cloned" aria-hidden="true" tabindex="-1">
    <img src="./Single Blog _ Space_files/lineicons-logo.svg" alt="">
    </div><div class="client-logo tns-item tns-slide-cloned" aria-hidden="true" tabindex="-1">
    <img src="./Single Blog _ Space_files/uideck-logo.svg" alt="">
    </div><div class="client-logo tns-item tns-slide-cloned" aria-hidden="true" tabindex="-1">
    <img src="./Single Blog _ Space_files/pagebulb-logo.svg" alt="">
    </div><div class="client-logo tns-item tns-slide-cloned" aria-hidden="true" tabindex="-1">
    <img src="./Single Blog _ Space_files/lineicons-logo.svg" alt="">
    </div><div class="client-logo tns-item tns-slide-cloned" aria-hidden="true" tabindex="-1">
    <img src="./Single Blog _ Space_files/graygrids-logo.svg" alt="">
    </div><div class="client-logo tns-item tns-slide-cloned" aria-hidden="true" tabindex="-1">
    <img src="./Single Blog _ Space_files/lineicons-logo.svg" alt="">
    </div>
    <div class="client-logo tns-item" id="tns1-item0" aria-hidden="true" tabindex="-1">
    <img src="./Single Blog _ Space_files/uideck-logo.svg" alt="">
    </div>
    <div class="client-logo tns-item tns-slide-active" id="tns1-item1">
    <img src="./Single Blog _ Space_files/pagebulb-logo.svg" alt="">
    </div>
    <div class="client-logo tns-item tns-slide-active" id="tns1-item2">
    <img src="./Single Blog _ Space_files/lineicons-logo.svg" alt="">
    </div>
    <div class="client-logo tns-item tns-slide-active" id="tns1-item3">
    <img src="./Single Blog _ Space_files/graygrids-logo.svg" alt="">
    </div>
    <div class="client-logo tns-item tns-slide-active" id="tns1-item4">
    <img src="./Single Blog _ Space_files/lineicons-logo.svg" alt="">
    </div>
    <div class="client-logo tns-item tns-slide-cloned" aria-hidden="true" tabindex="-1">
    <img src="./Single Blog _ Space_files/uideck-logo.svg" alt="">
    </div><div class="client-logo tns-item tns-slide-cloned" aria-hidden="true" tabindex="-1">
    <img src="./Single Blog _ Space_files/pagebulb-logo.svg" alt="">
    </div><div class="client-logo tns-item tns-slide-cloned" aria-hidden="true" tabindex="-1">
    <img src="./Single Blog _ Space_files/lineicons-logo.svg" alt="">
    </div><div class="client-logo tns-item tns-slide-cloned" aria-hidden="true" tabindex="-1">
    <img src="./Single Blog _ Space_files/graygrids-logo.svg" alt="">
    </div><div class="client-logo tns-item tns-slide-cloned" aria-hidden="true" tabindex="-1">
    <img src="./Single Blog _ Space_files/lineicons-logo.svg" alt="">
    </div><div class="client-logo tns-item tns-slide-cloned" aria-hidden="true" tabindex="-1">
    <img src="./Single Blog _ Space_files/uideck-logo.svg" alt="">
    </div><div class="client-logo tns-item tns-slide-cloned" aria-hidden="true" tabindex="-1">
    <img src="./Single Blog _ Space_files/pagebulb-logo.svg" alt="">
    </div><div class="client-logo tns-item tns-slide-cloned" aria-hidden="true" tabindex="-1">
    <img src="./Single Blog _ Space_files/lineicons-logo.svg" alt="">
    </div></div></div></div></div>
    </div>
    </div>
    </section>
    
{% endblock %}