       {% extends 'landing/base.html' %}
       {% load static %}
       
       {% block content %}
       <!-- ========================= hero-section start ========================= -->
       <section id="home" class="hero-section">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xl-5 col-lg-6">
                    <div class="hero-content-wrapper">
                        <h2 class="mb-25 wow fadeInDown" data-wow-delay=".2s">Web Alive</h2>
                        <h1 class="mb-25 wow fadeInDown" data-wow-delay=".2s">{{ landing.mensagemFlayer1 }}</h1>
                        <p class="mb-35 wow fadeInLeft" data-wow-delay=".4s">{{ landing.mensagemFlayer2 }}</p>
                        <a href="javascript:void(0)" class="theme-btn">Está Pronto?</a>
                    </div>
                </div>
                <div class="col-xl-7 col-lg-6">
                    <div class="hero-img">
                        <div class="d-inline-block hero-img-right">
                            <img src="https://webalive-media.s3.sa-east-1.amazonaws.com/images/hero-img.png" alt="" class="image wow fadeInRight" data-wow-delay=".5s">
                            <img src="{% static 'landing/assets/img/hero/dots.shape.svg' %}" alt="" class="dot-shape">
                            <!-- <div class="video-btn">
                                <a href="https://www.youtube.com/watch?v=r44RKWyfcFw&fbclid=IwAR21beSJORalzmzokxDRcGfkZA1AtRTE__l5N4r09HcGS5Y6vOluyouM9EM" class="glightbox"><i class="lni lni-play"></i></a>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ========================= hero-section end ========================= -->

    <!-- ========================= client-logo-section start ========================= -->
    <section class="client-logo-section pt-100">
        <div class="container">
            <div class="client-logo-wrapper">
                <div class="client-logo-carousel d-flex align-items-center justify-content-between">
                    {% for img in carrocel %}
                    <div class="client-logo">
                        <img src="{{ img.imagem }}" alt="">
                    </div>
                    {% endfor %}
                    
                </div>
            </div>
        </div>
    </section>
    <!-- ========================= client-logo-section end ========================= -->

    <!-- ========================= feature-section start ========================= -->
    <!-- <section class="feature-section pt-130">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-7 col-md-9 mx-auto">
                    <div class="section-title text-center mb-55">
                        <span class="wow fadeInDown" data-wow-delay=".2s">Recurso</span>
                        <h2 class="wow fadeInUp" data-wow-delay=".4s">Porque escolher a Web Alive?</h2>
                        <p class="wow fadeInUp" data-wow-delay=".6s">{{ feature }}</p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="feature-box box-style">
                        <div class="feature-icon box-icon-style">
                            <i class="lni lni-layers"></i>
                        </div>
                        <div class="box-content-style feature-content">
                            <h4>Design Resposivo</h4>
                            <p>Ganhe visibilidade em todas as plataformas de uma forma surpriendente.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="feature-box box-style">
                        <div class="feature-icon box-icon-style">
                            <i class="lni lni-code-alt"></i>
                        </div>
                        <div class="box-content-style feature-content">
                            <h4>Desenvolvimento Web</h4>
                            <p>Crie seu site integrado com as mais diversas de plataformas e começe a fornecer seus serviços via API.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="feature-box box-style">
                        <div class="feature-icon box-icon-style">
                            <i class="lni lni-agenda"></i>
                        </div>
                        <div class="box-content-style feature-content">
                            <h4>Análise seu negócio</h4>
                            <p>Começe a tirar Insigts de seu négocio e planeje-se para um mundo dos dados.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> -->
    <!-- ========================= feature-section end ========================= -->

    <!--========================= about-section start========================= -->
    <section id="about" class="pt-100">
        <div class="about-section">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-lg-6">
                        <div class="about-img-wrapper">
                            <div class="about-img position-relative d-inline-block wow fadeInLeft" data-wow-delay=".3s">
                                <img src="{% static 'landing/assets/img/about/about-img.png' %}" alt="">

                                <div class="about-experience">
                                    <h3>5 anos de experiência</h3>
                                    <p>Fazemos acontecer sua ideia, juntamente com uma euipe preparada e parceiros reconhecidos.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6">
                        <div class="about-content-wrapper">
                            <div class="section-title">
                                <span class="wow fadeInUp" data-wow-delay=".2s">Sobre nós</span>
                                <h2 class="mb-40 wow fadeInRight" data-wow-delay=".4s">Web Alive, uma empresa Matogrossense que nasceu com intuito de fomentar a tecnologia para empresas e negócios de variados tipos.</h2>
                            </div>
                            <div class="about-content">
                                <p class="mb-45 wow fadeInUp" data-wow-delay=".6s">Web Alive quer você como parceiro.</p>
                                <div class="counter-up wow fadeInUp" data-wow-delay=".5s">
                                    <div class="counter">
                                        <span id="secondo" class="countup count color-1" cup-end="15" cup-append="">15</span>
                                        <h4>Clientes Felizes</h4>
                                        <p>Fazemos suas integrações, administre seu site,  <br class="d-none d-md-block d-lg-none d-xl-block"> sitemas e tenha os resultados em suas mãos.</p>
                                    </div>
                                    <div class="counter">
                                        <span id="secondo" class="countup count color-2" cup-end="15" cup-append="">15</span>
                                        <h4>Projetos executados</h4>
                                        <p>Pense agora,<br class="d-none d-md-block d-lg-none d-xl-block"> 
                                        faça seu sistema do geito que voê quer!</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--========================= about-section end========================= -->

    <!-- ========================= service-section start ========================= -->
    <section id="service" class="service-section pt-130 pb-80">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-7 col-md-9 mx-auto">
                    <div class="section-title text-center mb-55">
                        <span class="wow fadeInDown" data-wow-delay=".2s">Serviços</span>
                        <h2 class="wow fadeInUp" data-wow-delay=".4s">Nossos serviços</h2>
                        <p class="wow fadeInUp" data-wow-delay=".6s">Os principais seguimentos, para mais informações acesse a página de serviços.</p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="service-box box-style">
                        <div class="service-icon box-icon-style">
                            <i class="lni lni-shortcode"></i>
                        </div>
                        <div class="box-content-style service-content">
                            <h4>Aplicações Web</h4>
                            <p>Aplicações e serviçõs web com Django e Restful, tenha seu próprio sistema ou serviço para diversas finalidade, saiba mais nas páginas de serviços.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="service-box box-style">
                        <div class="service-icon box-icon-style">
                            <i class="lni lni-layers"></i>
                        </div>
                        <div class="box-content-style service-content">
                            <h4>Painéis Eletrônicos</h4>
                            <p>Sistemas de Senhas personalizados, visual muito elegante e design de acordo com as preferências do cliente, painéis totalmente automatizados e integrado ao seus sistemas, saiba mais nas páginas de serviços.  </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="service-box box-style">
                        <div class="service-icon box-icon-style">
                            <i class="lni lni-shortcode"></i>
                        </div>
                        <div class="box-content-style service-content">
                            <h4>Aplicativos Mobile</h4>
                            <p>Tenha seu prórpio aplicativo, com as tecnologias mais recentes do mercado, aplicativos Android e IOS,  saiba mais nas páginas de serviços.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="service-box box-style">
                        <div class="service-icon box-icon-style">
                            <i class="lni lni-dashboard"></i>
                        </div>
                        <div class="box-content-style service-content">
                            <h4>Análise de Dados</h4>
                            <p>Começe hoje a se surprender com dados análiticos sobre sua empresa a partir de relátorios e dashboards dos seus sitemas,  saiba mais nas páginas de serviços.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="service-box box-style">
                        <div class="service-icon box-icon-style">
                            <i class="lni lni-layers"></i>
                        </div>
                        <div class="box-content-style service-content">
                            <h4>Fully Customizable</h4>
                            <p>Lorem ipsum dolor sit amet, adipscing elitr, sed diam nonumy eirmod tempor ividunt
                                labor dolore magna.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="service-box box-style">
                        <div class="service-icon box-icon-style">
                            <i class="lni lni-reload"></i>
                        </div>
                        <div class="box-content-style service-content">
                            <h4>Regular Updates</h4>
                            <p>Lorem ipsum dolor sit amet, adipscing elitr, sed diam nonumy eirmod tempor ividunt
                                labor dolore magna.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ========================= service-section end ========================= -->

    <!-- ========================= contact-section start ========================= -->
    <section id="contact" class="contact-section cta-bg img-bg pt-110 pb-100" style="background-image: url('{% static 'landing/assets/img/bg/cta-bg.jpg' %}');">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xl-5 col-lg-7">
                    <div class="section-title mb-60">
                        <span class="text-white wow fadeInDown" data-wow-delay=".2s">Contact</span>
                        <h2 class="text-white wow fadeInUp" data-wow-delay=".4s">Do you have any project Right now?</h2>
                        <p class="text-white wow fadeInUp" data-wow-delay=".6s">At vero eos et accusamus et iusto odio
                            dignissimos ducimus quiblanditiis praesentium</p>
                    </div>
                </div>
                <div class="col-xl-7 col-lg-5">
                    <div class="contact-btn text-start text-lg-end">
                        <a href="contact.html" class="theme-btn">Contact Now</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ========================= contact-section end ========================= -->

    <!-- ========================= pricing-section start ========================= -->
    <!-- <section id="pricing" class="pricing-section pt-140 pb-100">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-7 col-md-10 mx-auto">
                    <div class="section-title text-center mb-60">
                        <span class="wow fadeInDown" data-wow-delay=".2s">Price</span>
                        <h2 class="wow fadeInUp" data-wow-delay=".4s">Our Pricing Plan</h2>
                        <p class="wow fadeInUp" data-wow-delay=".6s">At vero eos et accusamus et iusto odio
                            dignissimos ducimus quiblanditiis praesentium</p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xl-12">
                    <div class="pricing-btn text-center wow fadeInUp" data-wow-delay=".3s">
                        <ul class="nav justify-content-center mb-90" id="pills-tab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="pills-1-tab" data-bs-toggle="pill" href="#pills-1" role="tab"
                                    aria-controls="pills-1" aria-selected="true">Monthly</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="pills-2-tab" data-bs-toggle="pill" href="#pills-2" role="tab"
                                    aria-controls="pills-2" aria-selected="false">Yearly</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-1" role="tabpanel" aria-labelledby="pills-home-tab">
                    <div class="row">
                        <div class="col-xl-4 col-lg-4 col-md-6">
                            <div class="single-pricing mb-50">
                                <h4>Basic</h4>
                                <h3>$15.00</h3>
                                <ul>
                                    <li>10 Users</li>
                                    <li>Minimal Report</li>
                                    <li>100MB Data Storage</li>
                                    <li>No Support</li>
                                    <li>Single Agent</li>
                                </ul>
                                <a href="javascript:void(0)" class="theme-btn border-btn">Purchase Now</a>
                                <p>No Extra Hidden Charge</p>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6">
                            <div class="single-pricing active mb-50">
                                <h4>Standard</h4>
                                <h3>$25.99</h3>
                                <ul>
                                    <li>30 Users</li>
                                    <li>Minimal Report</li>
                                    <li>1GB Data Storage</li>
                                    <li>7/24 Support</li>
                                    <li>Multiple Agents</li>
                                </ul>
                                <a href="javascript:void(0)" class="theme-btn">Purchase Now</a>
                                <p>No Extra Hidden Charge</p>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6">
                            <div class="single-pricing mb-50">
                                <h4>Premium</h4>
                                <h3>$220.00</h3>
                                <ul>
                                    <li>Unlimited Users</li>
                                    <li>Full Report</li>
                                    <li>Unlimited Data Storage</li>
                                    <li>7/24 Support</li>
                                    <li>Multiple Agents</li>
                                </ul>
                                <a href="javascript:void(0)" class="theme-btn border-btn">Purchase Now</a>
                                <p>No Extra Hidden Charge</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="pills-2" role="tabpanel" aria-labelledby="pills-2-tab">
                    <div class="row">
                        <div class="col-xl-4 col-lg-4 col-md-6">
                            <div class="single-pricing mb-50">
                                <h4>Basic</h4>
                                <h3>$15.00</h3>
                                <ul>
                                    <li>10 Users</li>
                                    <li>Minimal Report</li>
                                    <li>100MB Data Storage</li>
                                    <li>No Support</li>
                                    <li>Single Agent</li>
                                </ul>
                                <a href="javascript:void(0)" class="theme-btn border-btn">Purchase Now</a>
                                <p>No Extra Hidden Charge</p>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6">
                            <div class="single-pricing active mb-50">
                                <h4>Standard</h4>
                                <h3>$25.99</h3>
                                <ul>
                                    <li>30 Users</li>
                                    <li>Minimal Report</li>
                                    <li>1GB Data Storage</li>
                                    <li>7/24 Support</li>
                                    <li>Multiple Agents</li>
                                </ul>
                                <a href="javascript:void(0)" class="theme-btn">Purchase Now</a>
                                <p>No Extra Hidden Charge</p>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6">
                            <div class="single-pricing mb-50">
                                <h4>Premium</h4>
                                <h3>$220.00</h3>
                                <ul>
                                    <li>Unlimited Users</li>
                                    <li>Full Report</li>
                                    <li>Unlimited Data Storage</li>
                                    <li>7/24 Support</li>
                                    <li>Multiple Agents</li>
                                </ul>
                                <a href="javascript:void(0)" class="theme-btn border-btn">Purchase Now</a>
                                <p>No Extra Hidden Charge</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section> -->
    <!-- ========================= pricing-section end ========================= -->


    <!-- ========================= client-logo-section start ========================= -->
    <section class="client-logo-section pt-100">
        <div class="container">
            <div class="client-logo-wrapper">
                <div class="client-logo-carousel d-flex align-items-center justify-content-between">
                    <div class="client-logo">
                        <img src="{% static 'landing/assets/img/client-logo/django.png' %}" alt="">
                    </div>
                    <div class="client-logo">
                        <img src="{% static 'landing/assets/img/client-logo/python.png' %}" alt="">
                    </div>
                    <div class="client-logo">
                        <img src="{% static 'landing/assets/img/client-logo/nginx.png' %}" alt="">
                    </div>
                    <div class="client-logo">
                        <img src="{% static 'landing/assets/img/client-logo/postgre.png' %}" alt="">
                    </div>
                    <div class="client-logo">
                        <img src="{% static 'landing/assets/img/client-logo/docker.png' %}" alt="">
                    </div>
                    <div class="client-logo">
                        <img src="{% static 'landing/assets/img/client-logo/dart.png' %}" alt="">
                    </div>
                    <div class="client-logo">
                        <img src="{% static 'landing/assets/img/client-logo/bts.png' %}" alt="">
                    </div>
                    <div class="client-logo">
                        <img src="{% static 'landing/assets/img/client-logo/dgo.png' %}" alt="">
                    </div>
                    <div class="client-logo">
                        <img src="{% static 'landing/assets/img/client-logo/heroku.png' %}" alt="">
                    </div>
                    <div class="client-logo">
                        <img src="{% static 'landing/assets/img/client-logo/html.png' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ========================= client-logo-section end ========================= -->
{% endblock %}